@tailwind base;

@tailwind components;

@font-face {
    font-family: "lato-light";
    src: url("lato-light-webfont.woff2") format("woff2"), 
         url("lato-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "lato-medium";
    src: url("lato-medium-webfont.woff2") format("woff2"), 
         url("lato-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "lato-regular";
    src: url("lato-regular-webfont.woff2") format("woff2"), 
         url("lato-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@tailwind utilities;